body {
  margin: 0 ;
  text-align: center;
 }
 
 .container {
   display: grid;
   grid-gap: 0px;
   grid-template-areas: 
     "navbar"
     "welcome-section"
     "projects"
     "contact";
   
 }
 #navbar {
   grid-area: navbar;
   background-color: green;
   position: fixed;
   width: 100vw;
 }
 #navbar-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 #navbar-list li {
   display: inline;
 }
 #navbar-list li a {
   text-decoration: none;
   color: black;
   float: right;
   padding: 5px 40px 5px 10px;
 }
 #welcome-section {
   grid-area: welcome-section;
   background-color: #68946c;
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 #welcome-section h1 {
   color: white;
 }
 #projects {
   grid-area: projects;
   margin: 20px;
   background-color: white;
   display: grid;
   grid-template-areas:
     "heading heading"
     "a b"
     "c d";
   grid-gap: 50px;
   color: #68946c;
   grid-column-gap: 100px;
 }
 
 #projects h2 {
   grid-area: heading;
 }
 .project-tile {
   box-shadow: 5px 10px 8px #888888;
   background-color: white;;
 }
 #project-a {
   grid-area: a; 
 }
 #project-b {
   grid-area: b;
 }
 #project-c {
   grid-area: c;
 }
 #project-d {
   grid-area: d;
 }
 #contact {
   grid-area: contact;
   background-color: #68946c;
   color: white;
 }